.botao {
  border: none;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 16px;
  &__primario {
    background-color: #2A9F85;
  }
  &__secundario {
    background-color: white;
    border: 1px solid #ECECEC;
    color: #464646;
  }
}